/* Container geral */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
}

/* Abas no topo do formulário */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0; /* grudado no formulário */
}

.tab {
    padding: 10px 20px;
    background-color: #C4A500;
    color: white;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.tab:hover {
    background-color: #FFD52D;
}

.tab.active {
    background-color: #FFD52D;
    font-weight: bold;
}

/* Caixa do formulário alinhada com as abas */
.form-container {
    display: none;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 0 5px 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-container.active {
    display: block;
}

/* Campos do formulário */
.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* evita quebra do layout */
}

/* Botões */
button {
    padding: 10px 20px;
    background-color: #FFD52D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s;
}

button:hover {
    background-color: #FFE017;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	background-color: #C4A500;
	color: #fff;
}

header {
    position: relative;
}

h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	pointer-events: none;
	font-size: 2em;
}

.logo {
    margin: 10px;
    text-align: left;
	position: relative; /* Isso vai permitir o movimento sem afetar o layout */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.logo:hover{
	transform: translateY(-5px);
	box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}