	nav a {
       transition: background-color 0.3s ease, color 0.3s ease; 
       padding: 10px 15px;
       display: inline-block; 
       text-decoration: none; 
       color: white; 
   }

 
   nav a:hover {
       background-color: #ff0000 !important; 
       color: white !important;
       border-radius: 4px; 
   }