<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Loja de Brinquedos</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<img src="/images/microsoft.gif" alt="Microsoft GIF"
		class="gif-canto-superior-esquerdo">
	<img src="/images/gameboy.gif" alt="gameboy GIF"
		class="gif-canto-superior-gameboy">
	<img src="/images/tamagoshi.gif" alt="tamagoshi GIF"
		class="gif-canto-superior-tamagoshi">



	<!-- LOGO CENTRALIZADO -->
	<div class="topo-logo">
		<img src="/images/logosemfundo.gif" alt="Logo da Loja">
	</div>

	<div class="fogo-abaixo-logo">
		<img src="/images/fire.gif" alt="foguinho GIF"
			class="gifsuperior-foguinho">
	</div>

	<!-- MENU DE NAVEGAÇÃO -->
	<header>
		<nav>
			<a href="#">Início</a> <a href="#">Produtos</a> <a href="#">Contato</a>
			<a href="#">Sobre</a>
		</nav>
	</header>

	<!-- LISTA DE PRODUTOS -->
	<div class="container">
		<div class="produto">
			<img src="https://via.placeholder.com/150" alt="Produto 1">
			<h3>Boneca</h3>
			<p>R$ 49,90</p>
		</div>
		<div class="produto">
			<img src="https://via.placeholder.com/150" alt="Produto 2">
			<h3>Carrinho</h3>
			<p>R$ 79,90</p>
		</div>
		<div class="produto">
			<img src="https://via.placeholder.com/150" alt="Produto 3">
			<h3>Quebra-cabeça</h3>
			<p>R$ 29,90</p>
		</div>
	</div>

	<!-- RODAPÉ -->
	<footer> &copy; 2025 Loja de Brinquedos. Todos os direitos
		reservados. </footer>
	<img src="/images/subzero.gif" alt="Gif animado"
		class="gif-canto-direito">
	<img src="/images/umcara.gif" alt="Gif animado"
		class="gif-inferior-umcara">
		<img src="/images/parishilton.gif" alt="Pessoa aparecendo" class="gif-topo-parishilton">


</body>
</html>
