<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Loja de Brinquedos</title>
<link rel="stylesheet" href="/css/estilo.css">
<link rel="stylesheet" href="/css/carrossel.css">

</head>
<body>

	<header>
		<h1 th:text="${mensagem}">Bem-vindo à Loja de Brinquedos!</h1>
	</header>

	<nav>
		<a href="#">Início</a> <a href="#">Produtos</a> <a href="#">Contato</a>
		<a href="/sobre.html">Sobre</a>
	</nav>

	<div class="container">
		<div class="produto">
			<div class="carrossel-labubu">
				<button class="btn-prev">&#10094;</button>

				<div class="imagens-principais">
					<img src="/images/labubu1.png" alt="Labubu 1" class="imagem-ativa">
					<img src="/images/labubu2.webp" alt="Labubu 2"> <img
						src="/images/labubu3.webp" alt="Labubu 3">
				</div>

				<button class="btn-next">&#10095;</button>

				<div class="miniaturas">
					<img src="/images/labubu1.png" alt="Miniatura 1" data-index="0"
						class="miniatura-ativa"> <img src="/images/labubu2.webp"
						alt="Miniatura 2" data-index="1"> <img
						src="/images/labubu3.webp" alt="Miniatura 3" data-index="2">
				</div>
			</div>

			<h3>Labubu</h3>
			<p>R$ 49,90</p>
		</div>

		<div class="produto">
			<img th:src="@{/images/carrinho.png}" alt="Carrinho"
				class="imagem-produto">
			<h3>Carrinho</h3>
			<p>R$ 79,90</p>
		</div>
		<div class="produto">
			<img th:src="@{/images/blocos.png}" alt="Blocos para montar"
				class="imagem-produto">
			<h3>Blocos para montar</h3>
			<p>R$ 29,90</p>
		</div>
	</div>

	<footer> &copy; 2025 Loja de Brinquedos. Todos os direitos
		reservados. </footer>
	<script src="/js/carrossel.js"></script>


</body>
</html>
